<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705629191178-chk1gq3vca79vkongf9ipa1e8bsllhtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705629191178-chk1gq3vca79vkongf9ipa1e8bsllhtm</string>
	<key>API_KEY</key>
	<string>AIzaSyBq8f41-TJamI6QBBdHO9naakppJAQ7fE4</string>
	<key>GCM_SENDER_ID</key>
	<string>705629191178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quoctung.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-81205</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-81205.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705629191178:ios:9dffc61d30056c8d2273f3</string>
</dict>
</plist>